<div class="container">
  <div class="row">
          <h3>新規会員登録</h3>
      <div class="col-md-8 col-md-offset">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <br /><div class="field">
              <%= f.label :（姓） %><br />
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
            </div>
            <div class="field">
              <%= f.label :（名） %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
            </div>
            <div class="field">
              <%= f.label :（セイ） %><br />
              <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
            </div>
            <div class="field">
              <%= f.label :（メイ） %><br />
              <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
            </div>
              <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="field">
              <%= f.label :郵便番号（ハイフンなし） %><br />
              <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
            </div>
            <div class="field">
              <%= f.label :住所 %><br />
              <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
            </div>
            <div class="field">
              <%= f.label :電話番号 %><br />
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
            </div>
            <div class="field">
              <%= f.label :パスワード（6文字以上）%>
              <% if @minimum_password_length %>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :パスワード（確認用） %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <br /><%= f.submit "新規登録", class: "btn btn-success col-xs-3" %>
            </div>
          <% end %>

          <div class="col-lg-12">
          <br><h3>既に登録済みの方</h3>
              <p class="col-xs-11"><%= link_to "こちら", member_session_path%>からログイン</p>
            </div>
      </div>
   </div>
</div>

